doctype html
html
  head
    title Create Palette
    link(rel='stylesheet', href='/styles.css')
  body
    label.switch.top-left
      input(type='checkbox', onclick='toggleMode()')
      span.slider.round

    a(href='/' class='title-link')
      .title-container
        h1 Kaleidoscopic

    div.centered 
      div.button-container

    div#paletteDisplay.centered
      input(type="color" id="colorPicker", onchange="colorChanged()", value="#D3D3D3")

    div.centered
        button#button(type="button", onclick="createPalette()") Create Palette

    script.
      let colors = [];
      function colorChanged() {
        const colorPicker = document.querySelector('#colorPicker');
        colors.push(colorPicker.value.replace('#', ''));
        
        // Create a new color square
        const newColorSquare = document.createElement('div');
        newColorSquare.className = 'color-block';
        newColorSquare.style.backgroundColor = colorPicker.value;
        //- newColorSquare.dataset.color = colorPicker.value.toUpperCase();
        
        // insert the new color square before the color picker
        document.querySelector('#paletteDisplay').insertBefore(newColorSquare, colorPicker);
        
        colorPicker.value = '#D3D3D3'; // Reset the color picker
      }
      function createPalette() {
        location.href = '/palette/' + colors.join('-');
      }
      function toggleMode() {
        document.body.classList.toggle('dark');
      }
