doctype html
html
  head
    title Palette Previewer
    link(rel='stylesheet', href='/styles.css')
  body
    label.switch.top-left
      input(type='checkbox', onclick='toggleMode()')
      span.slider.round
    div.centered
      each color in palette
        div(class='color-block', style=`background-color: ${color.css()};`)
    script.
      function toggleMode() {
        document.body.classList.toggle('dark');
      }
